<div class="rte-btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button
      class="btn btn-rte dropdown-toggle"
      type="button"
      unselectable="on"
      data-toggle="dropdown">
      {{ activeFormatBlockItem.labelPlain }} <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li ng-repeat="item in formatBlockItems | orderBy:'idx':false">
        <a 
          ng-bind-html="item.label" 
          ng-click="setFormatBlockItem(item)"
          ng-mousedown="$event.preventDefault()">
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in formatBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon" 
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="format(btn.cmd)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in listBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon" 
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="format(btn.cmd)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in alignBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon"
      ng-class="{ active: getFormatState(btn.cmd) }" 
      ng-click="format(btn.cmd)">
    </button>
  </div>

  <div class="btn-group">
    <button
      ng-repeat="btn in linkBtns | orderBy:'idx':false" 
      class="btn btn-rte" 
      id="btn-{{ btn.opt }}"
      type="button" 
      unselectable="on" 
      ng-bind-html="btn.icon"
      ng-class="{ active: btn.isActive }"
      ng-click="showDialog(btn)"
      ng-disabled="btn.disable()">
    </button>
  </div>
</div>

<div class="rte-content" contenteditable></div>

<rte-dialog
  ng-repeat="btn in linkBtns"
  ng-show="btn.isActive"
  position="btn.dialogPosition"
  url="btn.url"
  action-str="btn.actionStr"
  action="btn.action()"
  close="btn.isActive = false"></rte-dialog>